$backgroundColor: #2b2b2b;
$fontColor: #a9b7c6;
$monospaceFont: "Courier New", Courier, monospace;
$font: Helvetica, sans-serif;

body {
  background-color: $backgroundColor;
  color: $fontColor;
  font-family: $font;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#romSelectionView {
  text-align: center;
}

#cpuStatus {
  display: flex;
  font-family: $monospaceFont;

  > div {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 0.4rem;

    > div:first-of-type {
      font-weight: bold;
    }
  }
}