$monospaceFont: "Courier New", Courier, monospace;
$font: Helvetica, sans-serif;
$backgroundColor: #2b2b2b;
$fontColor: #a9b7c6;
$gutterBackgroundColor: #313335;
$gutterBorderColor: #606366;
$currentInstructionBackgroundColor: #2d6099;
$topRowHeight: 3rem;

@font-face {
  font-family: 'fontello';
  src: url('icons/fontello.woff2?927603') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $backgroundColor;
  color: $fontColor;
  font-family: $font;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#topRow {
  height: $topRowHeight;
  overflow: hidden;
  display: flex;
}

#mainRow {
  height: calc(100vh - #{$topRowHeight});
  display: flex;
}

#console {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  padding: 0.5em;
  font-family: $monospaceFont;
  background-color: black;
}

#disassembly {
  font-family: $monospaceFont;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 30rem;

  > div {
    display: flex;

    &.current {
      background-color: $currentInstructionBackgroundColor;

      >.gutter {
        background-color: mix($gutterBackgroundColor, $currentInstructionBackgroundColor);
      }
    }

    > .gutter {
      display: flex;
      width: 12em;
      background-color: $gutterBackgroundColor;
      border-right: 1px solid $gutterBorderColor;
      padding: 0 0.25rem 0 0.25rem;

      > .label {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        color: desaturate($fontColor, 50%);
        font-style: italic;
      }
    }

    > .instruction {
      padding: 0 0 0 0.25em;
      flex: 1;
    }
  }
}

.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.icon-folder:before {
    content: '\e800';
  }
}


#romSelectButton {
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 0.75rem;
  align-items: center;

  input[type='file'] {
    display: none;
  }

  .icon-folder {
    font-size: 2rem;
  }
}

#cpuStatus {
  display: flex;
  font-family: $monospaceFont;

  > div {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 0.4rem;

    > div:first-of-type {
      font-weight: bold;
    }
  }
}